<section class="grafico-seccion">
    <button class="boton-continuar" routerLink="/home">Regresar</button>
    <div class="alerta-wrapper" *ngIf="!inversiones.length; else graficoInversiones"> 
        <div class="alerta">
            <h2>No tiene inversiones disponibles en este momento</h2>
        </div>
    </div>
    <ng-template #graficoInversiones>
        <div *ngFor="let inversion of inversiones" class="grafico">
            <app-grafico-inversion
            [nombreInversion]="inversion.inversion.nombre" 
            [saldoInicial]="inversion.saldoInicial"
            [plazo]="inversion.plazo"
            [tasa]="inversion.tasa">
            </app-grafico-inversion>
        </div>
    </ng-template>
</section>