<div class="contenedor-formulario">
    <h3 class="nombre-inversion">{{ inversionActual?.nombre }}</h3>
    <div class="datos">
      <p class="nombre-cliente">
        {{ servicioCliente.clienteSeleccionado?.nombre }}
        {{ servicioCliente.clienteSeleccionado?.apellido_paterno}}
      </p>
      <p >
        Cuenta asociada: {{ servicioCliente.cuentaSeleccionada?.idCuenta }}
      </p>
      <p class="monto-disponible">
        Monto disponible: ${{ servicioCliente.cuentaSeleccionada?.saldo }}
      </p>
    </div>
    <form
      (submit)="enviarSaldoPlazo($event)"
      [formGroup]="formulario"
      class="formulario"
    >
      <div class="grupo-formulario">
        <label for="saldo" class="etiqueta">Monto a invertir:</label>
        <input
          type="number"
          id="saldo"
          name="saldo"
          formControlName="saldo"
          required
          min="1000"
          max="1000000000000000000"
          class="campo"
        />
      </div>
  
      <div class="grupo-formulario">
        <label for="plazo" class="etiqueta">Plazo:</label>
        <select
          name="plazo"
          formControlName="plazo"
          id="plazo"
          required
          class="campo"
        >
          <option [value]="28">28 días</option>
          <option [value]="90">90 días</option>
          <option [value]="180">180 días</option>
          <option [value]="365">365 días</option>
        </select>
      </div>
  
      <button type="submit" class="boton-continuar">Continuar</button>
      <button type="reset" class="boton-continuar" (click)="regresar()">
        Regresar
      </button>
    </form>
  </div>
  