<div class="anuncio" *ngIf="!inversiones()?.length; else listaInversiones">
    <button class="boton-continuar" routerLink="/home">Regresar</button>
    <h2>No tiene inversiones disponibles en este momento</h2>
  </div>

  <ng-template #listaInversiones>
    <button class="boton-continuar" routerLink="/">Regresar</button>
    <button class="boton-limpiar" (click)="limpiarHistorial()" *ngIf="titulo()==='Historial'">Limpiar historial</button>
    <div class="contenedor-inversiones">
      <h2>{{titulo()}} de inversiones</h2>
      <div class="inversion animate__animated animate__zoomIn" *ngFor="let inversion of inversiones()">
        <div class="inversion-detalles">
          <p>
            <strong>Inversión:</strong> {{ inversion.inversion.nombre }}
          </p>
          <p>
            <strong>Instrucción:</strong> {{ inversion.instruccionVencimiento }}
          </p>
          <p><strong>Plazo:</strong> {{ inversion.plazo }} días</p>
          <p><strong>Rendimiento anual:</strong> ${{ inversion.rendimientoAnual }}</p>
          <p><strong>Tasa:</strong> {{ inversion.tasa }}%</p>
          <p>
            <strong>Inversión inicial:</strong> ${{ inversion.saldoInicial }}
          </p>
          <p>
            <strong>Cuenta de inversión:</strong> ${{ inversion.cuenta.numeroCuenta }}
          </p>
          <p>
            <strong>Saldo en cuenta:</strong> ${{ inversion.cuenta.saldo }}
          </p>
          <p>
            <strong>
              Está activa:
              <b>{{ titulo() === 'Historial' ? 'No' : 'Sí' }}</b>
            </strong>
          </p>
          <p>
            <strong>Fecha de inicio:</strong> <b> {{ inversion.fechaInicio }}</b>
          </p>
          <p>
            <strong>{{titulo() === "Historial" ? 'Fecha de cancelación' : 'Fecha de cierre'}}</strong> <b> {{ inversion.fechaFin }}</b>
          </p>
          <button
          class="boton-cancelar-inversion"
          (click)="cancelarInversion(inversion.idInversionCuenta, inversion)"
          type="button"
          *ngIf="titulo() === 'Consulta'"
        >
          Cancelar inversión
        </button>
        </div>
      </div>
    </div>
  </ng-template>
    <div class="modal-cancelar" *ngIf="paso === 1">
      <div class="modal-contenido">
        <h3>{{titulo() === "Historial" ? '¿Desea eliminar todo el historial?' : '¿Desea cancelar la inversión?'}}</h3>
        <div class="modal-botones">
          <button class="boton-confirmar" (click)="titulo()=== 'Historial' ? confirmarEliminacionHistorial() : confirmarEliminacion() ">Sí, cancelar</button>
          <button class="boton-cancelar" (click)="paso = 0">No, volver</button>
        </div>
      </div>
    </div>
