<div class="resumen-contenedor animate__animated animate__zoomIn">
    <h2 class="titulo-resumen">Resumen de Inversión</h2>
    <div class="dato">
      <span class="label">Cuenta asociada:</span>
      <span class="valor">{{servicioCLiente.cuentaSeleccionada?.idCuenta}}</span>
    </div>  
    <div class="dato">
      <span class="label">Nombre:</span>
      <span class="valor">{{servicioCLiente.clienteSeleccionado?.nombre}}</span>
    </div>
    <div class="dato">
      <span class="label">Apellidos:</span>
      <span class="valor">{{servicioCLiente.clienteSeleccionado?.apellidoPaterno}} {{servicioCLiente.clienteSeleccionado?.apellidoMaterno}}</span>
    </div>
    <div class="dato">
      <span class="label">Inversión en:</span>
      <span class="valor">{{inversionActual?.nombre}}</span>
    </div>
    <div class="dato">
      <span class="label">Saldo a invertir:</span>
      <span class="valor" data-color="verde"
        ><b>$ {{servicioInversionCuenta.inversionCuentaActual.saldoInicial}}</b></span>
    </div>
    <div class="dato">
      <span class="label">Plazo:</span>
      <span class="valor"
        ><b>{{servicioInversionCuenta.inversionCuentaActual.plazo}} días</b></span>
    </div>
    <div class="dato">
      <span class="label">Tasa ofrecida:</span>
      <span class="valor"
        ><b>{{servicioInversionCuenta.inversionCuentaActual.tasa}}%</b></span>
    </div>
    <div class="dato">
      <span class="label">Rendimiento anual:</span>
      <span class="valor"><b>$ {{servicioInversionCuenta.inversionCuentaActual.rendimientoAnual}}</b></span>
    </div>
    <button class="continuar" (click)="continuar()">Continuar compra</button>
    <button class="continuar" (click)="regresar()">Cancelar compra</button>
  </div>
  