<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
      <button
        (click)="showFiller = !showFiller"
        mat-raised-button
        [routerLink]="['/consultaInversiones']"
      >
        Consulta de inversiones
      </button>
      <button (click)="showFiller = !showFiller" mat-raised-button [routerLink]="['/actualizarInversion']">
        Actualizar datos de inversión
      </button>
      <button mat-raised-button [routerLink]="['/historialInversiones']">
        Historial de inversiones
      </button>
      <button mat-raised-button [routerLink]="['/graficosInversiones']">
        Ver gráficos
      </button>
    </mat-drawer>
  
    <div class="overlay" *ngIf="drawer.opened" (click)="drawer.close()"></div>
  
    <div class="example-sidenav-content">
      <button
        type="button"
        mat-button
        class="menu-button"
        (click)="drawer.toggle()"
      >
        <span class="hamburger-menu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>
      <app-seleccionar-cuenta></app-seleccionar-cuenta>
    </div>
  </mat-drawer-container>
  