<section class="consulta-seccion">
    <div class="anuncio" *ngIf="!inversionesCuentas?.length; else listaInversiones">
      <button class="boton-continuar" routerLink="/">Regresar</button>
      <h2>No tiene inversiones disponibles en este momento</h2>
    </div>
  
    <ng-template #listaInversiones>
      <button class="boton-continuar" routerLink="/">Regresar</button>
      <div class="contenedor-inversiones">
        <h2>Consulta de inversiones</h2>
        <div class="inversion" *ngFor="let inversion of inversionesCuentas">
          <div class="inversion-detalles">
            <p>
              <strong>Inversión:</strong> {{ inversion.inversion.nombre }}
            </p>
            <p>
              <strong>Instrucción:</strong> {{ inversion.instruccionVencimiento }}
            </p>
            <p><strong>Plazo:</strong> {{ inversion.plazo }} días</p>
            <p><strong>Rendimiento anual:</strong> ${{ inversion.rendimientoAnual }}</p>
            <p><strong>Tasa:</strong> {{ inversion.tasa }}%</p>
            <p>
              <strong>Inversión inicial:</strong> ${{ inversion.saldoInicial }}
            </p>
            <p>
              <strong>Cuenta de inversión:</strong> ${{ inversion.cuenta.numeroCuenta }}
            </p>
            <p>
              <strong>Saldo en cuenta:</strong> ${{ inversion.cuenta.saldo }}
            </p>
          </div>
        </div>
      </div>
    </ng-template>
  </section>
  