<section class="consulta-seccion">
    <div class="anuncio" *ngIf="!inversiones?.length; else listaInversiones">
      <button class="boton-continuar" routerLink="/">Regresar</button>
      <h2>No tiene inversiones disponibles en este momento</h2>
    </div>
  
    <ng-template #listaInversiones>
      <button class="boton-continuar" routerLink="/">Regresar</button>
      <div class="contenedor-inversiones">
        <h2>Consulta de inversiones</h2>
        <div class="inversion" *ngFor="let inversion of inversiones">
          <div class="inversion-detalles">
            <p>
              <strong>Instrucción:</strong> {{ inversion.instruccionVencimiento }}
            </p>
            <p><strong>Plazo:</strong> {{ inversion.plazo }} días</p>
            <p><strong>Rendimiento anual:</strong> ${{ inversion.rendimientoAnual }}</p>
            <p><strong>Tasa:</strong> {{ inversion.tasa }}%</p>
            <p>
              <strong>Inversión inicial:</strong> ${{ inversion.saldoInicial }}
            </p>
          </div>
        </div>
      </div>
    </ng-template>
  </section>
  