<div class="seleccion-cuenta-contenedor">
    <h2 class="titulo">Selecciona una cuenta</h2>
    <p class="mensaje">
      Hola <b>{{clienteServicio.clienteSeleccionado?.nombre}} </b>
      <b>{{clienteServicio.clienteSeleccionado?.apellidoPaterno}}</b
      >, por favor selecciona la cuenta que deseas utilizar:
    </p>
  
    <div class="lista-cuentas animate__animated animate__zoomIn">
      <div
        class="cuenta"
        *ngFor="let cuenta of cuentasDeCliente"
        [routerLink]="['/vistaInversion', cuenta.idCuenta ]"
        (click)="obtenerCuentaActual(cuenta.idCuenta )"
      >
      <img src="tarjeta.png" alt="tarjeta" style="width: 50px; height: 50px;">
        <p class="id-cuenta">ID de la cuenta: {{ cuenta.idCuenta }}</p>
        <p class="id-cuenta">Número de cuenta: {{ cuenta.numeroCuenta }}</p>
        <p class="saldo-cuenta">Saldo: ${{ cuenta.saldo }}</p>
      </div>
    </div>
  </div>
  